PORT=3001
# Formato SQL Server:
# sqlserver://localhost:1433;database=tfi_db;user=sa;password=TuPassword;encrypt=true;trustServerCertificate=true;
DATABASE_URL="sqlserver://localhost:1433;database=tfi_db;user=sa;password=TU_PASSWORD;encrypt=true;trustServerCertificate=true;"
JWT_SECRET="clave_secreta_para_desarrollo_local_123"
AES_KEY="clave_aes_desarrollo_32_caracteres"
PYTHON_PATH="python"
EXPORTS_PATH="../exports"
